@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  @apply appearance-none; /* Tailwind utility to remove default styling */
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  @apply appearance-none; /* Tailwind utility to remove default styling */
  -webkit-appearance: none;
  margin: 0;
}
